html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 15px;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

.sf_admin_filter div {
  margin: 10px 10px 10px 0 !important;
}

section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.sf_admin_batch_actions_choice select {
  float: left;
  margin-right: 15px;
}

.print {
  display: none;
}

#sf_admin_content {
  clear: both;
  margin-top: 20px;
  width: 100%;
  float: left;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

#sf_admin_content p {
  text-align: center;
  font-size: 20px;
  padding: 100px 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 10px 0;
}

.center {
  text-align: center !important;
}

.grid {
  width: 98%;
  margin: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.content {
  float: left;
}

#top_header {
  height: 102px;
  background: #f0f0f0;

  background: -moz-linear-gradient(top, #f0f0f0 0%, #ffffff 50%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(50%,#ffffff), color-stop(100%,#f0f0f0));
  background: -webkit-linear-gradient(top, #f0f0f0 0%,#ffffff 50%,#f0f0f0 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%,#ffffff 50%,#f0f0f0 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%,#ffffff 50%,#f0f0f0 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%,#ffffff 50%,#f0f0f0 100%);
  -pie-background: linear-gradient(to bottom, #f0f0f0 0%,#ffffff 50%,#f0f0f0 100%);
  behavior: url(PIE.htc);
}

#menu_top ul {
  background-color: #003366;
  overflow: hidden;
  padding: 0 10px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  border-radius: 0 0 25px 25px;
  behavior: url(PIE.htc);
}

#menu_top li {
  border-right: 1px solid #44698f;
  border-left: 1px solid #002c58;
  padding-left: 10px;
}


#menu_top li a {
  display: block;
  padding: 10px;
  font-size: 13px;
}

#menu {
  background: #4478ab;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4478ab), to(#02478c));
  background: -webkit-linear-gradient(#4478ab, #02478c);
  background: -moz-linear-gradient(#4478ab, #02478c);
  background: -ms-linear-gradient(#4478ab, #02478c);
  background: -o-linear-gradient(#4478ab, #02478c);
  background: linear-gradient(#4478ab, #02478c);
  -pie-background: linear-gradient(#4478ab, #02478c);
  width: 100%;
  height: 38px;
  behavior: url(PIE.htc);
}

.down{
      background: url('../images/down.png') no-repeat;
}

#menu .submenu {
  background: #4478ab;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4478ab), to(#02478c));
  background: -webkit-linear-gradient(#4478ab, #02478c);
  background: -moz-linear-gradient(#4478ab, #02478c);
  background: -ms-linear-gradient(#4478ab, #02478c);
  background: -o-linear-gradient(#4478ab, #02478c);
  background: linear-gradient(#4478ab, #02478c);
  -pie-background: linear-gradient(#4478ab, #02478c);
  behavior: url(PIE.htc);
  display: none;
  z-index: 1000;
  width: 275px;
  right: 0;
}

#menu .submenu li {
  width: 100%;
  float: left;
}

#menu .submenu a {
  display: block;
  float: left;
  padding: 12px 0;
  width: 100%;
  text-indent: 12px;
  border: none;
}

#menu li:hover .submenu {
  display: block;
}

#menu li a {
  color: #fff;
  display: block;
  padding: 12px;
  font-size: 14px;
  border-right: 1px solid #628cb8;
  border-left: 1px solid #205386;
}

#menu li:first-child a, #menu_top ul li:first-child {
  border-left: none;
}

#menu li:last-child a, #menu_top ul li:last-child {
  border-right: none;
}

#menu li {
  float: left;
}

#menu li a:hover, #menu li a.active {
  background: #114577;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#114577), to(#001020));
  background: -webkit-linear-gradient(#114577, #001020);
  background: -moz-linear-gradient(#114577, #001020);
  background: -ms-linear-gradient(#114577, #001020);
  background: -o-linear-gradient(#114577, #001020);
  background: linear-gradient(#114577, #001020);
  -pie-background: linear-gradient(#114577, #001020);
  behavior: url(PIE.htc);
}

#logo a {
  text-indent: -99999em;
  display: block;
  width: 230px;
  height: 80px;
  background: url('../images/logo.png') no-repeat;
  margin: 6px 0 16px 0;
}

#main {
  padding-bottom: 30px;
  overflow: hidden;
  width: 100%;
}

h2.title {
  font-size: 20px;
  font-weight: bold;
  color: #4b4b4b;
  margin: 40px 0 20px;
}

.error {
  border: 1px solid #f5c69a;
  background-color: #fbd3b1;
  color: #ce2700;
  padding: 8px;
  font-weight: bold;
  margin: 30px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(PIE.htc);
}

.notice {
  border: 1px solid #ccebac;
  background-color: #e0f2cb;
  color: #65a31b;
  padding: 8px;
  font-weight: bold;
  margin: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(PIE.htc);
}

.sf_admin_pagination {
  float: right;
  height: 24px;
  color: #444;
}
.sf_admin_pagination img {
  vertical-align: middle;
}

.sf_admin_pagination a {
  color: #666;
}

.sf_admin_pagination a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.frozen.small {
  width: 50px;
}

#sf_admin_container {
  margin: auto;
  overflow: hidden;
}

#sf_admin_container .sf_admin_list table {
  width: 100%;
  margin-bottom: 15px;
}

#sf_admin_container .sf_admin_list thead tr {

}

#sf_admin_container .sf_admin_list thead tr th:first-child {
  border-left: none;
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
  behavior: url(PIE.htc);
}

#sf_admin_container .sf_admin_list thead tr th:last-child {
  border-right: none;
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
  behavior: url(PIE.htc);
}

#sf_admin_container .sf_admin_list thead th, fieldset h2 {
  background-color: #ddd;
  text-transform: uppercase;
  padding: 17px 0px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: none;
  border-left: 1px solid #34393d;
  background: #4478ab;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4478ab), to(#02478c));
  background: -webkit-linear-gradient(#4478ab, #02478c);
  background: -moz-linear-gradient(#4478ab, #02478c);
  background: -ms-linear-gradient(#4478ab, #02478c);
  background: -o-linear-gradient(#4478ab, #02478c);
  background: linear-gradient(#4478ab, #02478c);
  -pie-background: linear-gradient(#4478ab, #02478c);
  behavior: url(PIE.htc);
}

fieldset h2 {
  margin-top: 15px;
  text-align: left;
  text-indent: 2%;
  font-size: 15px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  behavior: url(PIE.htc);
}

.sf_grouped {
  float: right;
  clear: both;
  width: 300px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.sf_grouped legend {
  margin-left: 5px;
  padding: 5px;
  font-size: 14px;
}

.sf_grouped label {
  width: 85% !important;
  text-align: left !important;
  margin:  0 0 0 11px !important;
}

.sf_grouped input[type="checkbox"] {
  float: left;
  margin: 11px 0 !important;
}


.sf_grouped li {
  margin-left: 2%;
  overflow: hidden;
}

#sf_admin_container .sf_admin_list td {
  padding: 4px;
}

#sf_admin_container #sf_admin_list_batch_actions {
  width: 20px;
}

#sf_admin_container .sf_admin_text ,#sf_admin_container .sf_admin_text a {
  color: #444;
  font-size: 13px;
}

#sf_admin_container th.sf_admin_text a {
  color: #fff;
}

#sf_admin_container .sf_admin_text h2, #sf_admin_container .sf_admin_text h2 a {
  font-size: 17px;
  padding-bottom: 3px;
  font-weight: normal;
}

#sf_admin_container .sf_admin_date {
  white-space: nowrap;
}

#sf_admin_container .sf_admin_list tfoot th {
  padding: 14px;
  background-color: #ececec;
}

.sf_admin_date {
  font-size: 11px;
  color: #444444;
}

#sf_admin_bar {
  position: relative;
  clear: both;
}

.sf_admin_actions {
  float: left;
}

.sf_admin_action_new, .sf_admin_filter a, input[type="submit"], .sf_admin_action_list a {
  font-size: 13px;
  padding: 9px 8px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  float: left;
  margin-right: 10px;
  border: solid 1px #013e7b;
  background: #4478ab;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4478ab), to(#02478c));
  background: -webkit-linear-gradient(#4478ab, #02478c);
  background: -moz-linear-gradient(#4478ab, #02478c);
  background: -ms-linear-gradient(#4478ab, #02478c);
  background: -o-linear-gradient(#4478ab, #02478c);
  background: linear-gradient(#4478ab, #02478c);
  -pie-background: linear-gradient(#4478ab, #02478c);
  behavior: url(PIE.htc);
}

.sf_admin_filter input[type="submit"] {
  padding: 0;
  float: left;
  height: 33px;
  width: 60px;
}

.sf_admin_action_new  a, .sf_admin_action_list a {
  color: #fff !important;
}

.sf_admin_action_list a {
  line-height: 18px !important;
  font-size: 13px !important;
}

.open_list select {
  width: 350px;
  clear: both;
}

.open_list_label {
  font-size: 14px;
  color: #000;
  margin-left: 10px;
}

.open_list_source {
  clear: both;
}

.sf_admin_action_new  a:hover {
  text-decoration: none !important;
}

.sf_admin_actions li {
  float: left;

}

#sf_admin_list_th_actions {
  width: 150px;
}

.sf_admin_td_actions li {
  float: left;
}

.even {
  background-color: #f4f4f4;
}

.sf_admin_filter td {
  padding: 5px;
  font-size: 11px;
  text-align: right;
}

.sf_admin_filter tfoot td {
  text-align: center;
}

.sf_admin_filter form {
  padding: 10px;
}

.sf_admin_filter input[type="text"], .sf_admin_filter input[type="password"], .sf_admin_filter input[type="email"] , .sf_admin_filter select {
  background-color: #FFF;
  border: 1px solid #CCC;
  width: auto !important;
}

.sf_admin_list p {
  min-height: 100px;
  font-size: 12px;
}

input[type="text"], 
input[type="password"], 
textarea,
input[type="email"] {
  border: 1px solid #aaa;
  width: 350px !important;
  padding: 8px;
  border-radius: 5px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  behavior: url(PIE.htc);
}

textarea {
  height: 180px;
}

.formContainer input[type="text"], 
.formContainer input[type="password"], 
.formContainer textarea,
.formContainer input[type="email"] {
  border: 1px solid #aaa;
  width: 40px !important;
  padding: 5px;
  float: left;
}

.sf_admin_filter input[type='text'] {
  width: 165px !important;
}

.sf_admin_filter .sf_admin_form_row {
  margin-right: 10px;
}

.content input[type="checkbox"] {
  margin: 11px 0;
}

.formContainer .formContainer {
  width: 800px;
  border: solid 1px #aaa;
  overflow: hidden;
  margin-bottom: 5px;
}

.formContainer .frozen {
  width: 400px;
  float: left;
}

select {
  border: 1px solid #aaa;
  padding: 7px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
  behavior: url(PIE.htc);
}

.sf_admin_filter select {
  width: 190px !important;
}

#sf_admin_container #sf_admin_bar {
  float: none;
  margin-left: 0px;
}

#sf_admin_container #sf_admin_bar .sf_admin_filter table tr {
  clear: none;
  border: 1px solid #ddd;
  padding: 0px;
}


#sf_admin_container #sf_admin_bar .sf_admin_filter table tr td {
  height: 50px;
  vertical-align: middle;
  border: none;
}


#sf_admin_container #sf_admin_bar .sf_admin_filter table tbody {
  clear: none;
  float: left;
}

#sf_admin_container #sf_admin_bar .sf_admin_filter table tbody tr {
  float: left;
  border-right: none;
}


#sf_admin_container #sf_admin_bar .sf_admin_filter table tfoot {
  clear: none;
  float: right;
}


#sf_admin_container #sf_admin_bar .sf_admin_filter table tfoot tr {
  float: right;
}

label {
  font-size: 14px;
  float: left;
  margin-right: 10px;
  text-align: right;
  line-height: 35px;
}

#sf_admin_content label {
  width: 180px;
}

#sf_fieldset_none {
  border-bottom: none;
  margin: 20px 0;
}

#sf_admin_content .sf_admin_form_row:first-child {
  border-top: 1px solid #ccc;
}

#sf_admin_content .sf_admin_form_row {
  border: 1px solid #ccc;
  border-top:none;
  padding: 10px;
  overflow: hidden;
}

.sf_admin_list td, .sf_admin_list th
{
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
}

/*
#sf_admin_container td, #sf_admin_container th
{
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
}

#sf_admin_container td:last-child, #sf_admin_container th:last-child {
  border-right: 1px solid #d2d2d2;
}


*/


.sf_admin_list td:last-child, .sf_admin_list th:last-child {
  border-right: 1px solid #d2d2d2;
}

.content table {
  border-top: 1px solid #d2d2d2;
  margin-bottom: 0;
}

.content table label {
  line-height: 45px;
}

.content table td input[type='text'], 
.content table td textarea,
.content table td select
{
  float: left;
  margin: 5px;
}

.help {
  color: #aaa;
  float: left;
  line-height: 35px;
  margin-left: 15px;
}

.content table td div {
  float: left;
}

.content table tr {
  border-width: 0 1px 1px 1px;
  border-color: #d2d2d2;
  border-style: solid;
  display: block;
  padding: 5px;
  font-size: 0;
}

.conflict {
  color: red;
  font-weight: bold;
}

#presence_list table {
  display: block;
  border: none;
}

#list_header {
  margin-bottom: -7px;
}

#presence_list_container {
  width: 1300px;
}

#presence_list > tbody > tr > td, #presence_list > thead > tr > td, #presence_list > tfoot > tr > td   {
  border: none;
}

.no_border td {
  border: none;
}

#presence_list_container {
  font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;
}

#presence_list_container table {
  border-collapse: collapse;
  border-spacing: 0;
}

#presence_list_container th, #presence_list_container td {
  padding: 3px;
}

.sf_admin_td_actions a, .sf_admin_actions a {
  color: #444;
  margin: 0 4px;
  font-size: 13px;
}

.sf_admin_actions a {
  font-size: 15px;
  line-height: 35px;
  margin: 0 10px;
}

.sf_admin_action_new a {
  margin: 0;
  line-height: 1;
}

.sf_admin_td_actions a:hover, .sf_admin_actions a:hover {
  text-decoration: underline;
}

.user {
  background: url('../images/user.png') no-repeat left center;
}

.group {
  background: url('../images/group.png') no-repeat left center;
}

.permission {
  background: url('../images/permission.png') no-repeat left center;
}

.delete {
  background: url('../images/delete.png') no-repeat left center;
}

.ico {
  text-indent: 5px;
}

.link-filter {
    background: url('../../images/filter.png') 7px center no-repeat !important;
    padding-left: 25px !important;
    margin-top: 3px;
    vertical-align:top;
}

.link-filter img,
.art-button-wrapper img
{
    vertical-align: middle;
}

footer{
position: relative;
top : 0px;
background: transparent linear-gradient(#4478AB, #02478C) repeat scroll 0% 0%;
color: white;
width: 100%;
text-align: center;
}
